{% extends 'djangoapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
{% block pagecontent %}
<body>
    <div class="content">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">HOME</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">ABOUT US</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:service' %}">NEW CARS</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">CONTACT US</a>
                </div>
            </div>
        </nav>
    
        <div class="container" style="padding:120px">
            <h1> How to Find us</h1>
            <h5> If you have any questions feel free to write us an email or contact us using details given below</h5>
            <br><br>
            <h1> Headquarters:</h1>
            <p class="card-text"> 101 North America, USA </p>
            <p class="card-text"> Email: newcardealer101@gmail.com </p>
            <p class="card-text"> Telephone: +1 800 101 10101</p>
        </div>
    </div>

    <footer>
        {% include "djangoapp/footer.html" %}
    </footer> 
</body>
{% endblock %}
</html>
