{% extends 'djangoapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %}</title>
    {% load static %}
</head>

<body>
    <!-- Remove this line the first time you edit this file -->
    <!--Add a nav bar here -->
    {% block pagecontent %}
    <div class="content">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">HOME</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">ABOUT US</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:service' %}">NEW CARS</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">CONTACT US</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
            </div>
                    </form>
                </li>
                {% endif %}
            </ul>
    </div>
        </nav>        
    {% if message %}
        <div class="alert alert-warning"> 
            <!--Style the message paragraph with .alert and .alert-warning class -->
        </div>
        {{ message }}
    {% endif %}
    
    <!-- <button onclick="myFunction()">Try it</button> -->
    <!--Add a dealer table here -->
    <div class="container table-wrapper-scroll-y my-custom-scrollbar">
        {% if user.is_authenticated %}
        <table class="table" data-filter-control="true" 
            id="dealer-table"> 
            <!-- data-show-toggle="true" -->
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="dealerName">Dealer Name</th>
                    <th data-field="city">City</h>
                    <th data-field="address" >Address</th>
                    <th data-field="zip">Zip</th>
                    <th data-field="state" data-filter-control="select">
                        State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealership_list %}
                    <tr>
                        <td>{{dealer.id}}</td>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</td>
                        <td>{{dealer.city}}</td>
                        <td>{{dealer.address}}</td>
                        <td>{{dealer.zip}}</td>
                        <td>{{dealer.st}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="container" style="padding-top:100px">
            <h2 class="mb-0" style="font-family: 'Ariel'" >
            Welcome!!! Please Login to view and add reviews for Dealerships
            </h2>
        </div>
        {% endif %}
    </div>

    <footer>
        {% include "djangoapp/footer.html" %}
    </footer>
    {% endblock %}
</body>

</html>
